body, html {
    height: 100%;
    margin: 0;
    background-color: #fff;
    background-image: url('herzen-hintergrund.jpg'); /* Pfad zu deinem Hintergrundbild mit den roten Herzen */
    background-size: cover;
    background-position: center;
}

.centered-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Farbe des Textes */
    font-size: 2em; /* Größe des Textes */
    font-family: Arial, sans-serif; /* Schriftart des Textes */
}