body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; /* Weicheres Hintergrundfarbe */
    background-image: url('../herzen-hintergrund.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modernere Schriftart */
}

.centered-content, .swiper-container {
    text-align: center; /* Stellt sicher, dass der Text zentriert ist */
    color: #444; /* Dunklere Textfarbe für bessere Lesbarkeit */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Leicht transparenter Hintergrund */
    border-radius: 15px; /* Abgerundete Ecken */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Leichter Schatten für Tiefe */
    max-width: 80%; /* Verhindert, dass der Container zu breit wird */
    margin: auto;
}

.response-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Größerer Abstand zwischen den Buttons */
}

#yes-button, #no-button {
    padding: 10px 30px; /* Größere Buttons */
    font-weight: bold; /* Fetter Text */
    color: #fff; /* Weiße Textfarbe */
    background-color: #7030A0; /* Einheitliche Hintergrundfarbe */
    border: 2px solid transparent; /* Bereitet einen Hover-Effekt vor */
    border-radius: 50px; /* Sehr abgerundete Ecken */
    transition: background-color 0.3s, transform 0.2s; /* Sanfte Übergänge */
}

#yes-button:hover, #no-button:hover {
    background-color: #c0392b;
    transform: scale(1.1); /* Vergrößert den Button leicht beim Hover */
    border-color: #fff; /* Fügt einen weißen Rand hinzu */
}

#no-button {
    background-color: #3498db; /* Blaue Farbe für den "Nein"-Button */
}

#no-button:hover {
    background-color: #2980b9; /* Dunkleres Blau beim Hover */
}

/* Stile für Swiper Slider */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: auto;
    max-height: 80vh; /* Passt die Höhe an, um innerhalb des Viewports zu bleiben */
}

.swiper-pagination-bullet {
    background: #007bff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #0056b3;
}
